img {
-webkit-user-drag: none;
-moz-user-drag: none;
-ms-user-drag: none;
// user-drag: none;
}

.fade-enter-active, .fade-leave-active {  
transition: all 0.4s;  
//   transform: scale(1.02);
}  
.fade-enter, .fade-leave-to /* .fade-leave-active 在 <2.1.8 版本中 */ {  
opacity: 0;  
//   transform: scale(1);
}  

.fade-custom-enter-active, .fade-custom-leave-active {  
transition: opacity .4s, transform .3s;  
}  
.fade-custom-leave-to {
    opacity: 0;  
    transform: scale(1.03);
}
.fade-custom-enter /* .fade-leave-active 在 <2.1.8 版本中 */ {  
    opacity: 0;
    // transform: scale(0.95);
}

hr {
    color: #82868b;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-avatar,.b-avatar-custom {
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    svg {
        width: 100%;
        height: 100%;
    }
}
.b-avatar-custom  {
    width: 1.8rem;
    height: 1.8rem;
    padding: 5px;
}

.b-avatar.badge-light-danger {
    color: #ea5455;
    background-color: rgba(234,84,85,.12);
}

.b-avatar.badge-light-primary {
    color: #37b5c1;
    background-color: rgba(55,181,193,.12);
}

.b-avatar.badge-light-success {
    color: #28c76f;
    background-color: rgba(40,199,111,.12);
}

.b-avatar.badge-light-info {
    color: #00cfe8;
    background-color: rgba(0,207,232,.12);
}

.b-avatar.badge-light-secondary {
    color: #82868b;
    background-color: hsla(213,4%,53%,.12);
}

html {
    font-size: 14px;
    letter-spacing: .01rem;
}

.h5, h5 {
    font-size: 1.07rem;
}

.cursor-pointer {
    cursor: pointer;
}

// .text-body {
//     color: #6e6b7b!important;
// }

.el-form-item__label {
    width: auto !important;
    margin-left: 0;
}

.el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

.el-form-item {
    display: flex;
    flex-wrap: wrap;
}

.el-form-full.el-form-item>.el-form-item__content {
    // width: 100%;
    flex-grow: 555;
}

:root {
    --vs-primary: var(--bs-primary-rgb);
    --vs-success: var(--bs-success-rgb);
    --vs-danger: var(--bs-danger-rgb);
    --vs-warn: var(--bs-warning-rgb);
    --vs-dark: var(--bs-dark-rgb);
}