/* 改变主题色变量 */
// $--color-primary: teal;
$--color-primary:#11999e;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-message {
    padding: 1rem;
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    border-radius: .428rem;
    background: #fff;
    border: 0;
    .el-message__content{
        font-size: .857rem;
    }
    
    // color: #37b5c1;
}

.el-dropdown-menu__item > a:not(:hover) {
    color: #5e5873 ;
}