/*
GLOBAL COLORS
*/

$vs-primary = var(--bs-primary-rgb)
$vs-secondary = var(--bs-secondary-rgb)
$vs-danger = var(--bs-danger-rgb)
$vs-success = var(--bs-success-rgb)
$vs-warning = var(--bs-warning-rgb)
$vs-dark = var(--bs-dark-rgb)
$vs-light = var(--bs-light-rgb)

$vs-colors := {
  primary: $vs-primary,
  secondary: $vs-secondary,
  danger: $vs-danger,
  success: $vs-success,
  warning: $vs-warning,
  dark: $vs-dark,
  light: $vs-light
}



