
:root {
  --vs-primary: var(--bs-primary)
  --vs-danger: $vs-colors['danger']
  --vs-success: $vs-colors['success']
  --vs-dark: $vs-colors['dark']
  --vs-warning: $vs-colors['warning']
  --vs-light: $vs-colors['light']
}
